/* For icons */

.icon-48-hecmailing  { background-image: url(../../../components/com_hecmailing/images/hecmailing48x48.png); }

.icon-16-hecmailing  { background-image: url(../../../components/com_hecmailing/images/hecmailing16x16.png); }

.icon-32-hecmailing  { background-image: url(../../../components/com_hecmailing/images/hecmailing32x32.png); }


.icon-32-contact  { background-image: url(../../../components/com_hecmailing/images/toolbar/icon-32-contact.png); }


/*div.button {
  width:100%;
  display:block;
}*/
div.import {
  clear: both;
}
.clear {
  clear: both;
}